
body {
    background-color: white;
    background: url(img/sfondo2.jpg);
    font: 14px "Verdana", sans-serif;
}

p, span {
    font: 14px "Verdana", sans-serif;
}

#page {
    width: 100%;
}

#head {
    background-color: white;
}

#menu {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 8px 0px 0px 0px;
}

div.menuItem a {
    display: block;
    font: 14px "Verdana", sans-serif;
    color: black;
    width: 130px;
    padding: 4px 0px 4px 8px;
    background: url(img/sfondo_menu.jpg);
    border-top: 1px solid #CCC;
    border-left: 1px solid #AAA;
    border-right: 1px solid #666;
    border-bottom: 1px solid #000;
    margin-bottom: 1px;
    text-decoration: none;
}

div.menuItem a:hover {
    color: #0000FF;
    font-style: italic;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #AAA;
    border-bottom: 1px solid #CCC;
}

#content {
    padding-left: 160px;
}

#content h2 {
    font: bold italic 22px "Verdana", sans-serif;
    color: #005AF6;
    padding-left: 20px;
    text-align: left;
    border-bottom: 1px solid #888;
}

div.newsHead {
    font: italic 16px "Verdana", sans-serif;
    background-color: #C4EFA1;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #CCC;
    border-left: 1px solid #AAA;
    border-right: 1px solid #666;
}

div.newsContent {
    font: 14px "Verdana", sans-serif;
    background-color: #E4ECEC;
    padding: 7px 10px 7px 10px;
    border-left: 1px solid #AAA;
    border-right: 1px solid #666;
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
}

div.milestone {
    background-color: #E4ECEC;
    border-top: 1px solid #CCC;
    border-left: 1px solid #AAA;
    border-right: 1px solid #666;
    border-bottom: 1px solid #000;
}
div.head {
    font: italic 20px "Verdana", sans-serif;
    background-color: #C4EFA1;
    padding-left: 10px;
    padding-right: 10px;
}
div.statusHead {
    font: 14px "Verdana", sans-serif;
    text-align: right;
    background-color: #C4EFA1;
    margin-top: -12px;
    padding: 2px 2px 2px 2px;
}

div.task {
    font: 14px "Verdana", sans-serif;
    background-color: #E4ECEC;
    padding: 7px 10px 0px 10px;
}
div.statusTask {
    font: 14px "Verdana", sans-serif;
    background-color: #E4ECEC;        
    text-align: right;
    margin-top: -10px;
    border-bottom: 1px dotted #000;
    padding-bottom: 8px;
    padding-right: 2px;
}
div.statusLastTask {
    font: 14px "Verdana", sans-serif;
    background-color: #E4ECEC;        
    text-align: right;
    margin-top: -10px;
    padding-bottom: 8px;
    padding-right: 2px;
}
div.task ul {
    font: 12px "Verdana", sans-serif;
    background-color: #E4ECEC;
    list-style: none;
    margin-top: 0px;
    padding-left: 15px;
}

#piepagina {
    border-top: 2px solid #777;
    padding: 5px 5px 5px 5px;
    margin-top: 100px;
}

#logos {
    float: left;
    text-align: left;
}

#logos a,
#logos a:visited {
    font: italic 14px "Verdana", sans-serif;
    text-decoration: none;
}
#logos a:hover {
    color: red;
}

#copyright {
    float: right;
    text-align: right;
}

#copyright a,
#copyright a:visited {
    font: italic 14px "Verdana", sans-serif;
    text-decoration: none;
}
#copyright a:hover {
    color: red;
}

#copyright span,
#copyright p {
    font: 12px "Verdana", sans-serif;
    margin: 0px 0px 0px 0px;
}
